/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADD8E6;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 300px;
    height: auto;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 90%;
    margin-bottom: -20px;
}

.option-button {
    border: none;
    border-radius: 30%;
    width: 35px;
    height: 35px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    outline: none; /* Deshabilita el contorno al hacer clic */
}

.option-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Ajustes para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .option-button {
        width: 125px; /* Ajusta el tamaño del botón */
        height: 70px; /* Ajusta el tamaño del botón */
        padding: 5px; /* Ajusta el relleno */
        font-size: 20px; /* Ajusta el tamaño de la fuente */
        margin: 5px;
    }
}
