<!DOCTYPE html>
<html>
<head>
    <title>Pepper Control</title>
    <link rel="stylesheet" href="{{ url_for('static', path='simple_style.css') }}">
    <script src="{{ url_for('static', path='actions.js') }}"></script>
</head>
<body>

    <h1>Pepper Control Panel</h1>
    
    <div id="status-msg" class="status">Ready</div>

    <div class="grid">
        <button onclick="runAction('greet')">
            👋 Greet
        </button>

        <button onclick="runAction('dance')">
            💃 Dance
        </button>

        <button onclick="runAction('pose')">
            📸 Pose
        </button>

        <button onclick="runAction('acabo_hablar')">
            🔚 Finish
        </button>
    </div>

</body>
</html>