<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Preguntados SinfonIA</title>
  <link rel="stylesheet" href="/static/estilo.css" />
</head>
<body>

<section id="inicio" class="pantalla visible">
  <div class="categorias-container">

    <div class="categoria c1">
      <div class="icono">
        <img src="/static/bombilla.png" alt="icono conocimiento general">
      </div>
      <span>CONOCIMIENTO GENERAL</span>
    </div>

    <div class="categoria c2">
      <div class="icono">
        <img src="/static/historia.png" alt="icono historia y mitologia">
      </div>
      <span>HISTORIA Y MITOLOGÍA</span>
    </div>

    <div class="categoria c3">
      <div class="icono">
        <img src="/static/cienciaYTec.png" alt="icono ciencia y tecnologia">
      </div>
      <span>CIENCIA Y TECNOLOGÍA</span>
    </div>
      
    <div class="categoria c4">
      <div class="icono">
        <img src="/static/geografiaa.png" alt="icono geografia">
      </div>
      <span>GEOGRAFÍA</span>
    </div>

    <div class="categoria c5">
      <div class="icono">
        <img src="/static/entretenimiento.png" alt="icono entretenimiento">
      </div>
      <span>ENTRETENIMIENTO</span>
    </div>

    <img src="/static/logoS.png" alt="Logo SinfonIA" class="logo" />
  </div>

  <div class="puntaje-container">
    Puntaje: <span id="puntaje-actual">0</span>
  </div>

  <button id="Girar" class="boton-aleatorio">Girar</button>
  <button id="reiniciar" class="boton-reiniciar">Comenzar de nuevo</button>
</section>

<script src="/static/script.js"></script>
</body>
</html>
