* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
}

button {
  all: unset;
}

.main-title {
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 20px;
    font-weight: bold;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background-color: #2c89e0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    display: block;
}

.esquina {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000000;
    padding: 30px;
}

.video {
    width: 100vw;
    height: 100vh;
}